.contact {
  height: 76vh;
  padding: 0 7px;
  background: linear-gradient(to right, #c06c84, #6c5b7b, #355c7d);
  margin: 0 7px;
  border-radius: 5px;

  .contact-container {
    font-weight: 700;
    font-style: italic;
    color: #fff;
    font-size: 1.5vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
  }
}

h1 {
  margin-bottom: 30px;
}
