.header {
  font-weight: 700;

  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background: linear-gradient(to right, #c06c84, #6c5b7b, #355c7d);

  .logo-container {
    display: flex;
    height: 100%;
    width: 100px;
    padding: 20px;
    align-items: center;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      color: #fff;
      padding: 10px 15px;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        font-size: 18px;
        color: blue;
      }
    }
  }
}
